In [1]:
import pandas as pd
import numpy as np

In [2]:
dataSource = r'C:\Users\soube\OneDrive\Desktop\Hammudi\Bachelorarbeit\Repository\AP-rent-determination\wohnung_kaufen\raw_data.csv'

In [20]:
properties = pd.read_csv(
    dataSource, parse_dates=True
)

In [21]:
properties.head()

,_id,observationDate,state,city,AP_community,community_id,postcode,livingSpace,roomCount,floor,...,third_seniors,nearest_shelter,second_shelter,third_shelter,nearest_hotel,second_hotel,third_hotel,nearest_museum,second_museum,third_museum
0,6314c221b51d897e59c1861e,2022-09-05T00:00:12.327582,Schleswig-Holstein,Kiel,Kreisfreie Stadt Kiel,1002,24113,66.00,2.0,NaN,...,1664,2647,3654,5918,2853,2975,3228,1459,1805,4186
1,6314c221b51d897e59c18625,2022-11-18T10:36:49.251667,Schleswig-Holstein,Lübeck,"Lübeck, Hansestadt",1003,23556,49.75,2.0,NaN,...,4871,24338,38476,39915,491,1602,2162,3521,3523,3606
2,6314c222b51d897e59c18631,2022-11-18T11:02:35.200505,Schleswig-Holstein,Kappeln,Kreis Schleswig-Flensburg,1059,24376,43.10,2.0,2.0,...,5517,25934,34462,40184,1961,2023,2066,2200,2521,2949
3,6314c40a9a44fa42da8d1497,2022-10-29T04:00:58.378188,Schleswig-Holstein,Norderstedt,Kreis Segeberg,1060,22844,65.00,3.0,2.0,...,2075,5206,8678,8794,690,1311,1614,3110,3129,5986
4,6314c40b9a44fa42da8d149b,2022-09-22T03:07:28.946761,Schleswig-Holstein,Flensburg,Kreisfreie Stadt Flensburg,1001,24939,41.19,2.0,3.0,...,2194,1584,12961,43651,1139,1652,1993,545,1208,1265

In [25]:
properties.sort_values(by=['observationDate'], ascending=False)

,_id,observationDate,state,city,AP_community,community_id,postcode,livingSpace,roomCount,floor,...,third_seniors,nearest_shelter,second_shelter,third_shelter,nearest_hotel,second_hotel,third_hotel,nearest_museum,second_museum,third_museum
35024,6314dec0711e25683273f9d5,2022-11-18T15:05:36.013061,Nordrhein-Westfalen,Bedburg,Rhein-Erft-Kreis,5362,50181,88.47,3.0,NaN,...,3891,8020,8295,20753,564,2448,2532,5741,8186,8316
25811,6314d7fb711e25683273c8cc,2022-11-18T15:05:35.140602,Nordrhein-Westfalen,Sankt Augustin,Rhein-Sieg-Kreis,5382,53757,40.00,1.0,4.0,...,3542,6087,6303,7744,427,778,1626,889,3136,3200
94267,637624852f77fa55911d9c3f,2022-11-18T15:05:35.014411,Nordrhein-Westfalen,Duisburg,"Duisburg, Stadt",5112,47279,63.76,3.0,3.0,...,3418,4724,4787,7745,2594,2755,2811,4561,4577,5118
94144,6376241b2f77fa55911c394e,2022-11-18T15:05:34.869445,Nordrhein-Westfalen,Bottrop,"Bottrop, Stadt",5512,46240,55.30,3.5,2.0,...,3218,7588,7619,10634,1257,1797,2244,2659,2682,2782
30762,6314db8c711e25683273e331,2022-11-18T15:05:34.663562,Nordrhein-Westfalen,Sankt Augustin,Rhein-Sieg-Kreis,5382,53757,50.00,2.0,NaN,...,3542,6087,6303,7744,427,778,1626,889,3136,3200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,6314caa6711e2568327354b6,2022-09-04T17:56:22.799995,Hamburg,Hamburg,"Hamburg, Freie und Hansestadt",2000,22083,53.00,2.0,2.0,...,794,3781,3918,4119,804,920,926,442,1306,1411
3450,6314ca86711e25683273536b,2022-09-04T17:55:50.968252,Rheinland-Pfalz,Mainz,"Mainz, kreisfreie Stadt",7315,55128,38.00,1.0,NaN,...,3375,2748,2917,25013,1139,1271,2188,1436,2761,2804
2934,6314ca6c711e256832735252,2022-09-04T17:55:24.327995,Baden-Württemberg,Triberg,Schwarzwald-Baar-Kreis,8326,78098,91.00,3.0,NaN,...,8762,27096,27895,38572,1945,1953,2106,1416,1476,2195
2781,6314ca4b711e2568327350f5,2022-09-04T17:54:51.279418,Bayern,Bad Staffelstein,Landkreis Lichtenfels,9478,96231,64.70,2.5,2.0,...,7404,54733,55636,56505,1176,2425,2445,4370,5140,6702
2533,6314ca37711e256832735036,2022-09-04T17:54:31.889199,Bayern,Neufahrn,Landkreis Freising,9178,85375,148.00,4.0,NaN,...,9823,7567,14227,14944,771,1451,1785,4024,6903,6927